---
---
/* 
    Document   : assan
    Author     : Design_mylife
    Description:assan Themes kit
    Version    : V2.3
*/
@import "_mixins";
@import "_variables";
@import "_base.scss";
@import "_header.scss";
@import "_footers.scss";
@import "_abg.scss";

.wide-img-showcase-row{
    position: relative;
}
.no-padding.img{
    background:url(../img/showcase-1.jpg) scroll center no-repeat;
    background-size:  cover;
    position: absolute;
    height: 100%;

}
.no-padding.img-2{
    background:url(../img/showcase-2.jpg) scroll center no-repeat;
    background-size:  cover;
    position: absolute;
    height: 100%;

}
@media(max-width:767px){
    .no-padding.img{
        position: relative;
        height: 300px;
    } 
}


/************************image hover effect*******************/

.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.item-img-wrap img{
    @include transition(all 200ms linear);
    width:100%;
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    @include transition (opacity 250ms linear);
}

.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{ 
    @include transform (scale(1.1));
}


/*flex slider*/
.slider-reg{
    width:100%;

}

@media(max-width:767px){
    .slider-reg.transparent-header-slider{
        margin-top: 50px;

    } 
}
.main-flex-slider{
    position: relative;
}
.main-flex-slider .flex-control-nav {
    bottom: 10px;
    margin: 0;
    height: 14px;
    z-index: 10;
}
.main-flex-slider .flex-control-paging li a{
    background-color: rgba(255,255,255,0.7) !important;
    width: 26px;
    height: 8px;
    display: block;
    background: rgba(255,255,255,0.1);
    cursor: pointer;
    text-indent: -9999px;
    @include border-radius (0);
    @include box-shadow (none);
}
.main-flex-slider .flex-control-paging li a.flex-active{
    background-color:$skincolor !important;
}
.slider-overlay{
    background: rgba(0,0,0,.2);
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slider-text{
    text-align: center;
    margin-top: 30px;
}
.slider-text h1{
    font-size: 3.75em;
    color: #FFF;
    padding: 5px 10px 0px;
    line-height: 1.4;
    font-weight:700;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.slider-text p{
    color:#fff;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 400;
}
.slider-text p a{
    font-style: normal;
}
@media(min-width:1200px){
    .slider-text{
        margin-top: 250px;
    }    
}
@media(max-width:1199px){
    .boxed-wrapper .navbar-default {
    left: 0;
    width: 100%;
    right: 0;
}
}
@media(max-width:1024px){
    .slider-text{
        margin-top: 150px;
    }    
}
@media(max-width:768px){
    .slider-text{
        margin-top: 90px;
    }  
    .slider-text h1 {
        font-size: 2em;
    } 
}
@media(max-width:667px){
    .slider-text{
        margin-top: 30px;
    }  
    .slider-text h1 {
        font-size: 2em;
    } 
}
@media(max-width:533px){
    .slider-text p a{
        display: none;
    }  
}
@media(max-width:414px){
    .slider-text p{
        display: none;
    }  
    .slider-text h1{
        font-size: 1.5em;
        margin-top: 45px;
    }
}
@media(max-width:384px){
    .slider-text h1{
        font-size: 1.5em;
        margin-top: 45px;
    }  
}
/***********animation delays*****************/
.delay-1{
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
}
.delay-2{
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    animation-delay: 600ms;
}
.delay-3{
    -webkit-animation-delay: 1200ms;
    -moz-animation-delay: 1200ms;
    animation-delay: 1200ms;
}
.delay-4{
    -webkit-animation-delay: 1600ms;
    -moz-animation-delay: 1600ms;
    animation-delay: 1600ms;
}

/*news and blogs*/
.news-desc{
    padding: 15px 0;
}
.news-desc h4{
    margin: 0px;
    font-weight:600;
}
.news-desc span{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
.news-desc span + span{
    padding-left: 30px;
}
/*latest news in home option*/
.latest-new{
    border: 1px solid #ddd;
}
.blog-date {
    width: 60px;
    height: 60px;
    padding: 6px 5px;
    margin: -40px auto 10px auto;
    line-height: 1;
    font-weight: 400;
    color: #000;
    @include border-radius (5px);
    font-size: 36px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.blog-date span{
    font-weight: 400;
    font-size: 15px;
    display: block;
}
.l-news-desc {
    padding: 10px 20px;
}
.l-news-desc h3{
    margin-bottom: 15px;
}
ul.post-desc{
    padding: 0;
}
ul.post-desc li{
    font-size: 14px;
    text-transform: capitalize;
    color:#555;
}
ul.post-desc li + li{
    padding-left: 15px;
}
/**blog inner pages**/
.blog-post{
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.post-detail{
    margin-top: 25px;
    margin-bottom: 0px;
    border-top: 1px solid #ebeaea;
    border-bottom: 1px solid #ebeaea;
    margin-left: 0px;
}
.post-detail li img{
    width:26px;
    height: 26px;
    @include border-radius (13px);
    float: left;
    margin-right: 10px;
}
.post-detail li + li{
    padding-left: 15px;
}
.post-detail li{
    font-size: 12px;
    vertical-align: middle;
    text-transform: capitalize;
}
.post-detail li i{
    margin-right: 5px;
}
.blog-post h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight:600;
    text-transform: capitalize;

}
.blog-left-img .post-detail{
    margin-top: 0px;
}
.about-author{
    background-color: #f5f5f5;
    padding: 30px;
    margin-bottom: 50px;
}
.about-author img{
    width:120px;
    height: 120px;
    float: left;
    margin-right: 10px;
    @include border-radius (3px);
}
.about-author p{
    overflow: hidden;
}
.comment-list{
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.comment-post h4 img{
    width:60px;
    height: 60px;
    margin-right: 20px;
    float: left;
}
.comment-post p{
    overflow: hidden;
}
.comment-form .form-contact .form-control{
    background-color: #f5f5f5;
}

/**owl**/
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px !important;
    height: 8px !important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    @include border-radius (50%);
    background: #444 !important;
}

/*************soical icons**********/
.social-1{
    margin: 0;
    padding: 0;
}
.social-1 li{
    padding: 0px;
}
.social-1 li a i{
    width:32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color:#fff;
    font-size: 16px;
    @include border-radius (2px);
    @include transition (all 200ms ease-in);
}
.social-1 li a i:hover{
    opacity: 0.8;
}
.social-1 li a i.fa-facebook{
    background-color: #3b5998;
}
.social-1 li a i.fa-twitter{
    background-color: #0084b4;
}
.social-1 li a i.fa-google-plus{
    background-color: #C63D2D;
}
.social-1 li a i.fa-pinterest{
    background-color: #cb2027;
}
.social-1 li a i.fa-dribbble{
    background-color: #ea4c89;
}

/******owl carousel*******/
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    @include border-radius (20px);
    background: $skincolor !important;
}

/****************elements******************/
.grid-wrap h4{
    display: block;
    line-height: 35px;
    text-align: center;
    background-color: #f9f9fa;
    border:1px solid #ddd;
}
.element-buttons a{
    margin-bottom: 10px;
    margin-right: 5px;
}
/*****************bootstrap tabs overrides*****************************/
/*tabs*/
.nav-tabs{
    border: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:0px;
    background-color: $skincolor;
    color:#fff;
}
.nav-tabs>li>a{
    @include border-radius (0px);
    background-color: #f4f4f4;
    border: 0px;
}
.nav-tabs>li>a:hover{
    border: 0px;
}

.tabs .nav-tabs {
    border-bottom: none;
}
.tabs .nav-tabs  li {
    margin-bottom: 0;
}
.tab-content{
    overflow: hidden;
    padding: 15px 0;
}
/*****vertical left tabs--*****/
.tabs-left{
    .nav-tabs {
        float: left;
        margin-right: 19px;
    }
    .nav-tabs > li{
        float: none;
        margin-bottom: 2px;
    }
    .tab-content{
        padding: 0px;
    }
}
/*****vertical right tabs--*****/
.tabs-right{
    .nav-tabs {
        float: right;
        margin-left: 19px;
    }
    .nav-tabs > li{
        float: none;
        margin-bottom: 2px;
    }
    .tab-content{
        padding: 0px;
    }
}


@media (max-width: 767px) {
    .tabs .nav-tabs  li {
        width: 100%;
        float: none;
        margin-bottom: 2px;
    }
    .tabs .nav-tabs  li  a {
        margin-right: 0 !important;
    }
    .tabs .nav-tabs  li.active  a {
        border-bottom: 2px solid #dcdcdc !important;
    }
}
@media(max-width:568px){
    .tabs-right{
        .nav-tabs {
            float: none;
            margin-left: 0;
        }
    }
    .tabs-left{
        .nav-tabs {
            float: none;
            margin-left: 0;
        }
    }
}


.tabs .nav-tabs  li  a {
    background: #f7f7f7;
    margin-right: 2px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-bottom: none !important;
    @include border-radius (0px);
    padding: 12px 20px;
    color: #6d6d6d;
    position: relative;
}
.tabs .nav-tabs  li  a:after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 3px;
}
.tabs .nav-tabs  li  a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
}
.tabs .nav-tabs  li  a:hover {
    border-color: #f7f7f7;
}
.tabs .nav-tabs > li > a .fa {
    margin-right: 4px;
}
.tabs .nav-tabs  li.active  a {
    color: $skincolor;
    border-left-color: #eee;
    border-right-color: #eee;
    background: #fff;
}
.tabs .nav-tabs  li.active  a:after {
    background: $skincolor;
}
.tabs .nav-tabs  li.active  a:before {
    background: #fff;
}
.tabs .nav-tabs  li.active  a:hover {
    border-bottom-color: #fff;
}
.tabs .tab-content {
    padding: 15px;
    background: #fff;

}
.tab-content p{
    overflow: hidden;
}
.tabs .tab-content:before,
.tabs .tab-content:after {
    content: " ";
    display: table;
}
.tabs .tab-content:after {
    clear: both;
}
.tabs .tab-content p:last-child {
    margin-bottom: 0;
}
.form-element .form-control{
    height: 31px;
}

/****************************************************************

Version v1.1 css*

****************************************************************/

.latest-tweets .tweet li{
    font-weight: 400;

}
.latest-tweets .tweet li a{
    color:$skincolor;
}
/**********************sidenav*********************/
.side-nav li{
    border-bottom: 1px solid #e9e9e9;
}
.side-nav li a{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.side-nav li a.active{
    color:$skincolor;
}
.side-nav li a i{
    margin-right: 10px;
}
/************************************ version v1.2.1 css *****************/




/********************

VERSION V1.3 css start here

*************************************************/


/******************

MULTI LEVEL DROPDOWN CSS

*********************/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: -2px;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    @include border-radius (0px);
}

@media(max-width:767px){
    .dropdown-submenu>.dropdown-menu{
        padding-left: 20px;
    }   
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    top: 7px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    @include border-radius (0px);
}

@media (max-width: 767px){
    .dropdown-submenu > .dropdown-menu {
        display: block;
        margin-left: 15px;
    }
}

/************no space columns end******/
.col-one-fourth{
    width:25%;
    float: left;
}
@media(max-width:767px){
    .col-one-fourth{
        width:50%;
    }
}
@media(max-width:568px){
    .col-one-fourth{
        width:100%;
    } 
}

/****************

SOCIAL BUTTONS

**********************/

/**social icons default size**/
.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px!important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float:left;
    text-align:center;
    border: 1px solid #AAA;
    &:hover{
        border-color: transparent;
    }

}
.social-icon i{
    display: block;
    @include transition (all .3s ease);
    line-height: 40px;
    position: relative;
    &:last-child{
        color: #FFF!important;
    }
}

.social-icon:hover i:first-child {
    margin-top: -40px;
}



/***social icons lg (big)***/
.social-icon-lg {
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px!important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float:left;
    text-align:center;
    border: 1px solid #AAA;
    &:hover{
        border-color: transparent;
    }

}
.social-icon-lg i{
    display: block;
    @include transition (all .3s ease);
    line-height: 60px;
    position: relative;
    &:last-child{
        color: #FFF!important;
    }
}

.social-icon-lg:hover i:first-child {
    margin-top: -60px;
}

/***social icons small***/
.social-icon-sm {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px!important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
     display: block;
    float:left;
    text-align:center;
    border: 1px solid #AAA;
    &:hover{
        border-color: transparent;
    }

}
.social-icon-sm i{
    display: block;
    @include transition (all .3s ease);
    line-height: 30px;
    position: relative;
    &:last-child{
        color: #FFF!important;
    }
}

.social-icon-sm:hover i:first-child {
    margin-top: -30px;
}



si-border{
    border: 1px solid #AAA !important;
}
.si-border-round{
    @include border-radius (50%);
}
.si-dark-round{
    @include border-radius (50%);
}
.si-gray-round{
    @include border-radius (50%);
}
.si-gray{
    background: #f3f3f3;
    border: 0px;
}
.si-dark{
    background-color: #333;
    border:0px !important;
    color:#fff !important;
}


/**icons hover colored**/
.si-colored-facebook ,.si-facebook:hover{
    background-color: #3B5998!important;
}
.si-colored-twitter, .si-twitter:hover {
    background-color: #00ACEE!important;
}
.si-colored-google-plus, .si-g-plus:hover {
    background-color: #DD4B39!important;
}
.si-colored-skype, .si-skype:hover {
    background-color: #00AFF0!important;
}
.si-pin:hover, .si-colored-pinterest{
    background-color: #C8232C!important;
}
.si-rss:hover, .si-colored-rss{
    background-color: #EE802F!important;
}
.si-digg:hover, .si-colored-digg {
    background-color: #191919!important;
}
.si-instagram:hover, .si-colored-instagram {
    background-color: #3F729B!important;
}
.si-yahoo:hover, .si-colored-yahoo {
    background-color: #720E9E!important;
}
.si-android:hover, .si-colored-andriod {
    background-color: #A4C639!important;
}
.si-appstore:hover, .si-colored-apple {
    background-color: #000!important;
}
.si-phone:hover, .si-colored-phone {
    background-color: #444!important;
}
.si-behance:hover, .si-colored-behance{
    background-color: #053eff!important;
}
.si-github:hover, .si-colored-github {
    background-color: #171515!important;
}
.si-stumbleupon:hover, .si-colored-stumbleupon {
    background-color: #F74425!important;
}
.si-email:hover, .si-colored-email {
    background-color: #6567A5!important;
}
.social-shortcodes .left-heading{
    font-size: 30px;
    text-transform: uppercase;
}
.grid-boxed{
    border: 1px solid transparent;
    padding: 20px;
}
.grid-boxed:hover{
    border:1px dashed #999;
}

/*********revolution slider 5 css*****/
.tp-caption.NotGeneric-Title,rev-btn, .NotGeneric-Title, .tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle,.tp-caption.Gym-Display, .Gym-Display,.tp-caption.Gym-Subline, .Gym-Subline,.tp-caption.Gym-SmallText, .Gym-SmallText,.tp-caption.Gym-Button, .Gym-Button,.rev-btn{
    font-family: $primary-font !important;
    font-weight: 400 !important;
}
.tp-caption.Gym-Button, .Gym-Button{
    background-color: $skincolor;
}
.new-label{
    color:$skincolor;
}