---
layout: page
title: ACVF 3ème ligue
headline: Classements buteurs par groupe
groups:
  - group-info: 
    - name: Groupe 1
      id: group1
  - group-info: 
    - name: Groupe 2
      id: group2
  - group-info: 
    - name: Groupe 3
      id: group3
  - group-info: 
    - name: Groupe 4
      id: group4
---
<div class="groups" id="acvf-3">
  <p class="rankingDescription">Les classements sont mis à jour plusieurs fois par semaine.</p>
  <p class="rankingDescription">Les classements sont réalisés en fonction des résultats publiés sur le site football.ch</p>
  <p class="lastUpdate" title="Dernière mise à jour"><i class="fa fa-refresh"></i>&nbsp;</p>
  {% for group in page.groups %}
    {% for gr in group.group-info %}
    <h3>{{gr.name}}</h3>
    <table class="table table-striped" id="{{gr.id}}">
      <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Club</th>
            <th><i class="fa fa-futbol-o"></i></th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    {% endfor %}
  {% endfor %}
</div>
