---
layout: page
title: ACVF 4ème ligue
description: Classement buteurs championnat de football ACVF (Vaud) 4ème ligue.
headline: Classements buteurs par groupe
groups:
  - group-info: 
    - name: Groupe 1
      id: group1
  - group-info: 
    - name: Groupe 2
      id: group2
  - group-info: 
    - name: Groupe 3
      id: group3
  - group-info: 
    - name: Groupe 4
      id: group4
  - group-info: 
    - name: Groupe 5
      id: group5
  - group-info: 
    - name: Groupe 6
      id: group6
  - group-info: 
    - name: Groupe 7
      id: group7
  - group-info: 
    - name: Groupe 8
      id: group8
---
<div class="groups" id="acvf-4">
  <p class="rankingDescription">Les classements sont mis à jour plusieurs fois par semaine.</p>
  <p class="rankingDescription">Les classements sont réalisés en fonction des résultats publiés sur le site football.ch</p>
  <p class="lastUpdate" title="Dernière mise à jour"><i class="fa fa-refresh"></i>&nbsp;</p>
  {% for group in page.groups %}
    {% for gr in group.group-info %}
    <h3>{{gr.name}}</h3>
    <table class="table table-striped" id="{{gr.id}}">
      <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Club</th>
            <th>Buts</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <div class="loader"></div>
    {% endfor %}
  {% endfor %}
</div>