$link-color:#3D4248;
.card{
	margin: 20px 0px;	
	.card-text{
    margin-bottom: .75rem;
	}
	a{
		color:$link-color;
    &:focus, &:hover{
      text-decoration: none;
      color:$link-color;
    }
		.card-img-top{
			width: 100%;
		}
	}
}