<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 footer-col">
        <p>FOOTSTATS</p>
        <ul class="links-list">
          <li>
            <a href="/about.html" >
              A propos
            </a>
          </li>
          <li>
            <a href="/cgv.html" >
              CGV
            </a>
          </li>
          <li>
            <a href="mailto:contact@footstats.ch" >
              Contact
            </a>
          </li>
          <li>
            <a href="/archives.html" >
              Archives
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 footer-col">
        <p>Méthode de paiement</p>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/footstats.ch/" >
              <img width="147" height="45" src="/assets/images/mastercard-visa.png">
            </a>
          </li>
        </ul>
        <p>Méthode de livraison</p>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/footstats.ch/" >
              <img width="112" height="45" src="/assets/images/laposte.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 footer-col">
        <p>Pour rester informé</p>
          <ul class="list-inline footer-social">
            <li>
              <a href="https://www.facebook.com/footstats.ch/" class="social-icon si-dark si-gray-round si-colored-facebook">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/footstats.ch/" class="social-icon si-dark si-gray-round instagram">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="http://www.matchdone.ch/" class="social-icon matchdone">
                <img src="/images/matchdone.png">
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</footer>