<footer id="footer">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center margin30">
				<div class="footer-col footer-3">
					<h3>footstats.ch</h3>
					<p>Classements, statistiques par équipe et classements des buteurs des championnats de football Fribourg, Vaud, Genève, Valais et Neuchâtel.</p>
					<ul class="list-inline footer-social">
						<li>
							<a href="https://www.facebook.com/footstats.ch/" class="social-icon si-dark si-gray-round si-colored-facebook">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/footstats.ch/" class="social-icon si-dark si-gray-round instagram">
								<i class="fa fa-instagram"></i>
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="http://www.matchdone.ch/" class="social-icon matchdone">
								<img src="images/matchdone.png">
							</a>
						</li>
					</ul>
				</div>                        
			</div><!--footer col-->
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="footer-btm">
					<span>&copy;{{ site.time | date: '%Y' }} footstats.ch</span>
				</div>
			</div>
		</div>
	</div>
</footer>