<footer id="footer">
  <p>Pour rester informé</p>
  <ul class="list-inline footer-social">
    <li>
      <a href="https://www.facebook.com/footstats.ch/" class="social-icon si-dark si-gray-round si-colored-facebook">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/footstats.ch/" class="social-icon si-dark si-gray-round instagram">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="http://www.matchdone.ch/" class="social-icon matchdone">
        <img src="/images/matchdone.png">
      </a>
    </li>
  </ul>
</footer>