<header class="site-header">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">football<span>topscorers</span>.ch</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
        {% if site.lang == "de" %}
          {% assign name = site.data.navde %}
        {% else if site.lang == "fr" %}
          {% assign name = site.data.nav %}
        {% endif %}
        {% for region in name %}
          {% if region.subcategories != null %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{region.title}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for subcategory in region.subcategories %}
                  <li class="dropdown-header">{{ subcategory.title }}</li>
                  {% if subcategory.subpages != null %}
                    {% for page in subcategory.subpages %}
                      <li><a href="{{ site.url }}{{ subcategory.path }}{{ page.path }}">{{ page.title }}</a></li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li><a href="{{region.path}}">{{region.title}}</a></li>
          {% endif %}
        {% endfor %}
        {% if site.lang == "de" %}
          <li><a href="{{ site.url | append: page.url }}" >Fr</a></li>
        {% else if site.lang == "fr" %}
          <li><a href="{{ '/de' | prepend: site.url | append: page.url }}" >De</a></li>
        {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">NUMERIKGAMES</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Sliders </a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Revolution Full-width</a></li>
                  <li><a href="home-revolution-boxed.html">Revolution Boxed</a></li>
                  <li><a href="home-revolution-fullscreen.html">Revolution Fullscreen</a></li>
                  <li><a href="ken-burns.html">Ken burns Slider</a></li>
                  <li><a href="home-carousel.html">Carousel Slider</a></li>
                  <li><a href="home-flexslider.html">Flex slider</a></li>               
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Revolution 5  <span class="label new-label">New</span></a>
                <ul class="dropdown-menu">
                  <li><a href="r5-classic.html">Carousel classic</a></li> 
                  <li><a href="r5-gym.html">Slider Gym</a></li> 
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Themes (12+)  <span class="label new-label">New</span></a>
                <ul class="dropdown-menu">
                  <li><a href="../default-template/index.html" target="_blank">Default Template</a></li>
                  <li><a href="../real-estate/index.html" target="_blank">Real Estate</a></li>
                  <li><a href="../medical/index.html" target="_blank">Medical Template</a></li>
                  <li><a href="../e-commerce/index.html" target="_blank">E-commerce</a></li>
                  <li><a href="../assan-blog/index.html" target="_blank">Blog Template</a></li><li><a href="../assan-education/index.html" target="_blank">Education  Template</a></li>
                  <li><a href="../one-page/index.html" target="_blank">One page light</a></li>
                  <li><a href="../one-page/one-page-dark.html" target="_blank">One page Dark</a></li><li><a href="../assan-personal-portfolio/index.html" target="_blank">One page Personal</a></li>                                    
                  <li><a href="../restaurant/index.html" target="_blank">Restaurant One page light</a></li>
                  <li><a href="../restaurant/restaurant-one-page-dark.html" target="_blank">Restaurant One page Dark</a></li>
                  <li><a href="../app-landing/index.html" target="_blank">App landing - I-phone</a></li>
                  <li><a href="../app-landing/index-android.html" target="_blank">App landing - Android</a></li>                                   
                  <li><a href="../landing-page/index.html" target="_blank">Landing page <span class="label new-label">New</span></a></li>                              
                  <li><a href="../minimal-portfolio/index.html" target="_blank">Minimal Portfolio <span class="label new-label">New</span></a></li>
                </ul>
              </li>
              <li><a href="home-parallax.html">Home - Parallax</a></li>
              <li><a href="home-video.html">Home -Youtube Video</a></li><li><a href="home-self-video.html">Home - Video(Self-hosted) <span class="label new-label">New</span></a></li>
              <li><a href="home-boxed.html">Home - Boxed</a></li>
              <li><a href="home-construction.html">Home - Construction</a></li>
              <li><a href="home-portfolio.html">Home - Portfolio</a></li>
              <li><a href="home-events.html">Home - Events</a></li>  
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Multi level menu </a>
                <ul class="dropdown-menu">
                  <li><a href="#"> menu level 2</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">menu level 2 </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> menu level 3</a></li>
                      <li><a href="#"> menu level 3</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!--menu home li end here-->
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu multi-level" role="menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Cube Portfolio </a>
                <ul class="dropdown-menu">
                  <li><a href="juicy-portfolio.html"> Juicy Projects</a></li>
                  <li><a href="cube-fullwidth.html"> Full Width</a></li>
                  <li><a href="cube-masonry.html"> Masonry</a></li>                         
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Grid Text Boxed </a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-2.html"> 2 Columns</a></li>
                  <li><a href="portfolio-3.html"> 3 Columns</a></li>
                  <li><a href="portfolio-4.html"> 4 Columns</a></li>                         

                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Grid Boxed </a>
                <ul class="dropdown-menu">
                  <li><a href="grid-portfolio-2-no-text.html">2 Columns</a></li>
                  <li><a href="grid-portfolio-3-no-text.html">3 Columns</a></li>
                  <li><a href="grid-portfolio-4-no-text.html">4 Columns</a></li>                         

                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">No space Full width </a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-full-width-2.html">2 columns</a></li>
                  <li><a href="portfolio-full-width-3.html">3 columns</a></li>
                  <li><a href="portfolio-full-width-4.html">4 columns</a></li>                         
                  <li><a href="portfolio-full-width-5.html">5 columns</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">No Space Boxed </a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-no-space-bx-2.html"> 2 Columns</a></li>
                  <li><a href="portfolio-no-space-bx-3.html"> 3 Columns</a></li>
                  <li><a href="portfolio-no-space-bx-4.html"> 4 Columns</a></li>                         

                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Portfolio Masonry </a>
                <ul class="dropdown-menu">
                  <li><a href="masonry-portfolio-3.html"> 3 Columns</a></li>
                  <li><a href="masonry-portfolio-4.html"> 4 Columns</a></li>
                  <li><a href="masonry-portfolio-full.html"> Full Width</a></li>                         

                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Portfolio Items</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-single.html">Single item</a></li>
                  <li><a href="portfolio-single-2.html">Single item 2</a></li>                                                             
                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--container-->
  </div>
</header>