<a href="/jobs" class="job-tease">Footstats cherche des talents!</a>
<header class="container-fluid site-header">
  <div class="row hidden-md-up mobile-nav">
    <div class="col-8 title">
      <h1>
        <a href="{{site.url}}">
          <img src="/images/footstats2.png" alt="Footstats" />
        </a>
      </h1>
    </div>
    <div class="col-4"><div class="toggle-overlay"><span></span></div></div>
  </div>
  <div class="container hidden-sm-down desktop-nav">
    <div class="row">
      <div class="col-2 title">
        <h1>
          <a href="{{site.url}}">
            <img src="/images/footstats2.png" alt="Footstats" />
          </a>
        </h1>
      </div>
      <div class="col-10">
        <ul class="nav">
          {% assign navigation = site.data.nav %}
          {% for element in navigation %}
            {% if element.subcategories != null %}
              {% for subcategory in element.subcategories %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ subcategory.title }}</a>
                  <div class="dropdown-menu">
                    {% for page in subcategory.subpages %}
                      <a class="dropdown-item" href="{{subcategory.path}}{{page.path}}">{{page.title}}</a>
                    {% endfor %}
                  </div>
                </li>
              {% endfor %}
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{element.path}}">{{element.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
<aside>
  <div class="nav-close toggle-overlay"><span></span></div>
  <nav>
    <ul class="nav-level-zero">
      <li class="nav-title menu">Menu</li>
    {% assign navigation = site.data.nav %}
    {% for element in navigation %}
      {% if element.subcategories != null %}
        <li class="nav-subnav">
          <a href="#!">{{element.title}}<span class="link-indicator"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
          <ul class="nav-level">
            <li class="nav-title"><a href="#" class="nav-back-one-step"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>{{ element.title }}</li>
            {% for subcategory in element.subcategories %}
              {% if subcategory.subpages != null %}
                <li class="nav-subnav">
                  <a href="#!">{{subcategory.title}}<span class="link-indicator"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                  <ul class="nav-level">
                    <li class="nav-title"><a href="#" class="nav-back-one-step"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>{{subcategory.title}}</li>
                    {% for page in subcategory.subpages %}
                      <li><a href="{{subcategory.path}}{{page.path}}">{{page.title}}</a></li>
                    {% endfor %}
                  </ul>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{element.path}}">{{element.title}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
  <div class="nav-footer">
    <p>Pour rester informé</p>
    <ul class="list-inline footer-social">
      <li>
        <a href="https://www.facebook.com/footstats.ch/" class="social-icon si-dark si-gray-round si-colored-facebook">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/footstats.ch/" class="social-icon si-dark si-gray-round instagram">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="http://www.matchdone.ch/" class="social-icon matchdone">
          <img src="/images/matchdone.png">
        </a>
      </li>
    </ul>
  </div>
</aside>
