{% if site.lang == 'fr' %}
  {% assign regionnav = site.data.nav.regions %}
  {% assign utilsnav = site.data.nav.utils %}
  {% assign mobilenav = site.data.nav.mobile-nav %}
{% else %}
  {% assign regionnav = site.data.nav.regions-de %}
  {% assign utilsnav = site.data.nav.utils-de %}
  {% assign mobilenav = site.data.nav.mobile-nav-de %}
{% endif %}
{% if page.data_path_region == 'acgf' %}
  <a href="/jobs" class="job-tease">Footstats recherche des reporters ACGF!</a>
{% endif %}
{% if page.data_path_region == 'aff' %}
  <a href="/jobs" class="job-tease">Footstats recherche des reporters AFF!</a>
{% endif %}
{% if page.data_path_region == 'anf' %}
  <a href="/jobs" class="job-tease">Footstats recherche des reporters ANF!</a>
{% endif %}
{% if page.data_path_region == 'avf' %}
  <a href="/jobs" class="job-tease">Footstats recherche des reporters AVF!</a>
{% endif %}
<header class="hidden-md-up header-mobile">
  <div class="container">
    <div class="row hidden-md-up mobile-title">
      <div class="col-8 title">
        <h1>
          <a href="{{site.baseurl | prepend: site.url}}">
            <img src="/images/footstats2.png" alt="Footstats" />
          </a>
        </h1>
      </div>
      <div class="col-4"><div class="toggle-overlay"><span></span></div></div>
    </div>
  </div>
</header>
<header class="header-desktop hidden-sm-down">
  <div class="hidden-sm-down desktop-nav-utils">
    <ul class="list-inline social-links">
      <li>
        <a href="https://www.facebook.com/footstats.ch/" class="">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/footstats.ch/" class="">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
    <ul class="list-inline other-links">
      {% for util in utilsnav %}
        <li>
          <a href="{{site.baseurl}}{{util.path}}">{{ util.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="list-inline language-selector">
      {% if page.translate != false %}
        {% if page.permalink_de == nil %}
          {% capture link1 %}/de{{ page.url | remove: '.html'}}{% endcapture %}
        {% else %}
          {% capture link1 %}/de{{ page.permalink_de}}{% endcapture %}
        {% endif %}
      {% else %}
        {% capture link1 %}/de{% endcapture %}
      {% endif %}
      <li><a href="{{ link1 }}" >de</a></li>
      <span>|</span>
      {% if page.permalink != nil %}
          {% capture link2 %}{{ page.permalink}}{% endcapture %}
        {% else %}
          {% capture link2 %}{{ page.url | remove: '.html' }}{% endcapture %}
      {% endif %}
      <li><a href="{{ link2 }}" >fr</a></li>
    </ul>
  </div>
  <div class="container hidden-sm-down desktop-nav-breadcrumb">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <a href="{{site.baseurl | prepend: site.url}}">
            <img src="/images/footstats2.png" alt="Footstats" />
          </a>
        </h1>
      </div>
      {% if page.title %}
      <ul class="nav-breadcrumb"><li>{% if page.translate != false %}{% t page.title %}{% else %}{{ page.title }}{% endif %}</li></ul>
      {% endif %}
    </div>
  </div>
  <div class="container hidden-sm-down desktop-nav">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav">
          {% if page.data_path_region == null %}
            {% for region in regionnav.regions %}
              <li class="nav-item">
                <a class="nav-link" href="{{site.baseurl}}/{{region.path}}{{region.subpages.first.path}}">{{ region.title }}</a>
              </li>
            {% endfor %}
          {% else %}
            {% assign subnav = regionnav.regions | where:'path', page.data_path_region %}
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/{{page.data_path_region}}">{{ subnav[0].title }}</a>
            </li> -->
            {% for subpage in subnav[0].subpages %}
              <li class="nav-item">
                <a class="nav-link" href="{{site.baseurl}}/{{page.data_path_region}}{{subpage.path}}">{{ subpage.title }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>
<aside>
  <div class="nav-close toggle-overlay"><span></span></div>
  <nav>
    <ul class="nav-level-zero">
      <li class="nav-title menu">Menu</li>
      <li class="language-selector"><a href="{{ link1 }}" >de</a><a href="{{ link2 }}" >fr</a></li>
      <li class="nav-subnav">
        <a href="#!">{{regionnav.title}}<span class="link-indicator"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
        <ul class="nav-level">
          <li class="nav-title"><a href="#" class="nav-back-one-step"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>{{ element.title }}</li>
          {% for region in regionnav.regions %}
            <li class="nav-subnav">
              <a href="#!">{{region.title}}<span class="link-indicator"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
              <ul class="nav-level">
                <li class="nav-title"><a href="#" class="nav-back-one-step"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>{{region.title}}</li>
                {% for page in region.subpages %}
                  <li><a href="{{site.baseurl}}/{{region.path}}{{page.path}}">{{page.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% for mobilelink in mobilenav %}
        <li>
          <a href="{{site.baseurl}}{{mobilelink.path}}">{{ mobilelink.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="nav-footer">
      <p>Pour rester informé</p>
      <ul class="list-inline footer-social">
        <li>
          <a href="https://www.facebook.com/footstats.ch/" class="social-icon si-dark si-gray-round si-colored-facebook">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/footstats.ch/" class="social-icon si-dark si-gray-round instagram">
            <i class="fa fa-instagram"></i>
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="http://www.matchdone.ch/" class="social-icon matchdone">
            <img src="/images/matchdone.png">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
