<p class="rankingDescription">{% t pages.scorer_ranking.update %}</p>
<p class="rankingDescription">{% t pages.scorer_ranking.info %}</p>
<p class="lastUpdate" title="{% t pages.other.last_update %}">
  <i class="fa fa-refresh"></i>&nbsp;{{ site.data[page.data_path_region][page.data_path_ligue].scorers.lastUpdate }}
</p>
{% for group in site.data[page.data_path_region][page.data_path_ligue].scorers.rankings %}
<h3>{% t pages.scorer_ranking.group %} {{ group.groupNumber }}</h3>
<table class="table table-striped" id="{{group.groupNumber}}">
  <thead>
    <tr>
        <th>#</th>
        <th>{% t pages.scorer_ranking.player_name %}</th>
        <th>{% t pages.scorer_ranking.player_club %}</th>
        <th><i class="fa fa-futbol-o"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for scorer in group.scorers %}
      <tr>
        <td>{{ forloop.index }}</td>
        <td>{{ scorer.scorer }}</td>
        <td>{{ scorer.team }}</td>
        <td>{{ scorer.goals }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}