<h1>{{ page.title }}</h1>
<table class="table table-striped" id="">
  <thead>
    <tr>
        <th>#</th>
        <th>{% t pages.scorer_ranking.player_name %}</th>
        <th>{% t pages.scorer_ranking.player_club %}</th>
        <th><i class="fa fa-futbol-o"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for scorer in site.data[page.data_path_region][page.data_path_ligue].stats.scorers.top5scorers %}
      <tr>
        <td>{{ forloop.index }}</td>
        <td>{{ scorer.scorer }}</td>
        <td>{{ scorer.team }}</td>
        <td>{{ scorer.goals }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>