{% if page.data_path_season == '2016-2017' %}
  {% assign data_path = site.data.archives1617[page.data_path_region][page.data_path_ligue] %}
{% else %}
  {% assign data_path = site.data[page.data_path_region][page.data_path_ligue] %}
{% endif %}

{% assign groups_length = data_path.standard.size %}
<div class="row justify-content-md-center">
  <div class="col col-md-8 col-lg-6">
    <h1>{% t page.title %}</h1>
    <h2>{% t page.headline %}</h2>
    <p><small><span class="text-muted d-block"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ data_path.scorers.lastUpdate }}</span></small></p>
  </div>
</div>
<div id="table-choice" class="row">
  <div class="col-12 col-md-12 offset-md-3 form-group">
    <div class="row">
      <label {% if groups_length == 1 %} style="display:none" {%endif%} class="col-5 col-md-2">Groupe</label>
      <div {% if groups_length == 1 %} style="display:none" {%endif%} class="col-7 col-md-2">
        <select class="form-control" id="group-choice">
          {% if groups_length  == 1 %}
            <option value="group1" selected>Audi</option>
          {% else %}
            <option value="global">{% t pages.teams_ranking.global %}</option>
            {% for group in data_path.standard %}
              <option value="group{{forloop.index}}">{{forloop.index}}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 offset-md-3">
    <div class="row form-group">
      <label class="col-5 col-md-2">{% t pages.teams_ranking.ranking %}</label>
      <div class="col-7 col-md-2">
        <select class="form-control" id="rank-choice">
          <option value="standard">{% t pages.teams_ranking.general %}</option>
          <option value="attack">{% t pages.teams_ranking.attack %}</option>
          <option value="defense">{% t pages.teams_ranking.defense %}</option>
        </select>
      </div>
    </div>
  </div>
</div>
{% if site.data.archives1617[page.data_path_region][page.data_path_ligue] != null %}
  {% include year-select-list.html %}
{% endif %}