<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src={{ "/js/3eme-ligue-1.2.2.js" | prepend: site.url }}></script>
<script src={{ "/js/4eme-ligue-1.2.2.js" | prepend: site.url }}></script>
<script src={{ "/js/5eme-ligue-1.2.2.js" | prepend: site.url }}></script>
<script src={{ "/libs/bootstrap.min.js" | prepend: site.url }}></script>
<script src={{ "/libs/material.min.js" | prepend: site.url }}></script>
<script src={{ "/libs/ripples.min.js" | prepend: site.url }}></script>

<script>
  $.material.init();
</script>