<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,400italic,600,700,900" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src={{ "/js/jquery.easing.1.3.min.js" | prepend: site.url }}></script>
<script src={{ "/js/jquery.magnific-popup.min.js" | prepend: site.url }}></script>
<script src={{ "/js/jquery.flexslider-min.js" | prepend: site.url }}></script>
<script src={{ "/js/jquery.scrollTo.min.js" | prepend: site.url }}></script>
<script src={{ "/js/wow.min.js" | prepend: site.url }}></script>
<script src={{ "/libs/owl-carousel/owl.carousel.min.js" | prepend: site.url }}></script>
<script src={{ "/js/chart.js" | prepend: site.url }}></script>
<script src={{ "/js/abg.js" | prepend: site.url }}></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="ZjFmMTc2YmYtMzM1OS00OTgxLTkyYWYtMTE0NTAxOTUwNDkzNjM2MTUyNDA3ODgyOTY1NTQ5" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function(){
        Snipcart.api.configure('split_firstname_and_lastname', true);
        Snipcart.execute('registerLocale', 'fr', {"company_name":"Société"});
        $('#buy').click(function() {
            fbq('track', 'InitiateCheckout');
        });

        // Snipcart.subscribe('page.change', function (page) {
        //     if(page == 'billing-address' || page == 'shipping-address'){
        //         $("#snip-company").closest("div").hide();
        //         $("#snip-company").load($(this),function(){
        //             console.log("AAAAAAAA")
        //         });
        //     }
        // });
        // Snipcart.subscribe('page.change', function (page) {
        //     if(page == "billing-address"){
        //         console.log($("#snip-company"))
        //         console.log($("#snipcart-sub-content"))
        //         console.log($("#snipcart-billing-address-step").children())
        //         $("#snip-company").closest("div").hide();
        //         $("#snip-province").closest("div").hide();
        //         $("#snip-phone").closest("div").hide();
        //     }
        // });
        // Snipcart.execute('bind', 'page.change', function (page){
        //     console.log("XXXXXXXXXX"+page)
        //     if(page == "billing-address"){
        //         console.log($("#snip-company"))
        //         console.log($("#snipcart-sub-content"))
        //         console.log($("#snipcart-billing-address-step").children())
        //         $("#snip-company").closest("div").hide();
        //         $("#snip-province").closest("div").hide();
        //         $("#snip-phone").closest("div").hide();
        //     }
        // });
    })
</script>
