---
layout: stats-template1
sitemap: false
region: anf
---

<div class="stats-social-container" id="ligue2">
	<div class="stats-table-social-post">
		<table class="table table-striped" id="">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.anf.ligue2.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top buteurs 2ème ligue ANF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue3">
	<div class="stats-table-social-post">
		<table class="table table-striped">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.anf.ligue3.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top buteurs 3ème ligue ANF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue4">
	<div class="stats-table-social-post">
		<table class="table table-striped">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.anf.ligue4.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info" id="">
	  <h2>Top buteurs 4ème ligue ANF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue5">
	<div class="stats-table-social-post">
		<table class="table table-striped">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.anf.ligue5.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info" id="">
	  <h2>Top buteurs 5ème ligue ANF</h2>
	</div>
</div>