#footer{
  background-color:#111;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 500px 0px 500px #111;
  p {
    color: #aeaeae;
    font-size: 13px;
    margin-bottom: 0.5rem;
  }
  a,a:hover,a:visited{
    text-decoration: none;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    &>li{
      display: inline-block;
    }
  }
  .links-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li>a{
      color: #fff;
    }
  }
  .footer-social li {
    padding: 0px;
  }
  .si-colored-facebook, .si-facebook:hover {
    background-color: #3B5998 !important;
  }
  .si-dark {
    background-color: #333;
    border: 0px !important;
    color: #fff !important;
  }
  .social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA;
    i {
      display: block;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      line-height: 40px;
      position: relative;
    }
  }
  .si-gray-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  .matchdone {
    border: none;
    line-height: 26px !important;
    img{
      width: 100%;
    }
  }
}