.standard-page{
	margin-top:20px;
	margin-bottom:20px;
}
.page-img{
	margin-top:10px;
	margin-bottom:10px;
}
.private-ad{
	display:flex;
	justify-content:center;
	.ad-img{
		width: 120px;
		text-align:center;
		img{
			margin:auto;
			max-height: 100px;
		}
	}
	.ad-desc{
		width: 150px;
		margin-top: 5px;
		line-height: 1.2;
		a{
			font-size: 13px;
			text-decoration: underline;
		}
	}
}
.job-title{
	display:block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight:bold;
}
.not-found{
	text-align:center;
	.row{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.after-form{
	margin-bottom:60px;
	margin-top:60px;
}