.shop-product{
	.shop-product-heading {
	  overflow: hidden;
	  margin-bottom: 12px;
	  border-bottom: 1px solid #dedede;
	}
	.shop-product-checkout{
		background: #1d7fd8;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    width: 100%;
    min-height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 10px 16px;
    font-weight: 700;
    @media (max-width: 768px){
    	margin-bottom: 30px;
  	}
	}
	.list-inline{
		margin-left: 0;
		>li {
			font-size: 2em;
    	display: inline-block;
    	padding-right: 5px;
    	padding-left: 5px;
		}
	}
	.line-through {
    color: #bbb;
    text-decoration: line-through;
	}
	.shop-red {
    color: #c9253c;
	}
}
.shop-description{
	h2{
		margin-bottom: 20px;
	}
	.description,.livraison{
		margin-bottom: 40px;
		@media (max-width: 768px){
    	margin-bottom: 20px;
  	}
	}
}
div[data-for='company'] {
    display: none;
}
