.ligue-teams{
	h1{
		font-size: 1.5rem;
		margin-top: 20px;
		text-align: center;
	}
	h2{
		font-size: 1rem;
		text-align: center;
	}
	table{
    font-size: 0.8em;
    @media (min-width: 768px){
    	font-size: 1rem;
    }
    tr th, tr td {
	    min-width: 21px;
      padding: 8px 2px;
		}
		.team-name{
			display: none;
		}
		@media (min-width: 768px){
			.team-name{
				display: inline;
			}
			.team-short-name{
				display: none;
			}
		}
	}
	.last-update{
		margin-top: 10px;
	}
	.ranking{
		margin-top: 20px;
	}
}