---
layout: default
---
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=383789825294733";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<article class="container blog-article">
	<div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6 article-img">
    	<img class="card-img-top" src="{{site.url}}/images/posts/headers/{{page.image-300}}"  srcset="{{site.url}}/images/posts/headers/{{page.image-500}} 500w, {{site.url}}/images/posts/headers/{{page.image-800}} 800w, {{site.url}}/images/posts/headers/{{page.image-1100}} 1100w, {{site.url}}/images/posts/headers/{{page.image-2200}} 2200w" alt="yah"/>
  	</div>    
	</div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6 article-img">
    	<h1>{{page.title}}</h1>
    	<p><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ page.date | date: "%-d/%m/%Y"}}</small></p>
    </div>    
  </div>
  <!-- Your share button code -->
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a></div>
    </div>
  </div>
  <div class="private-ad">
    <div class="ad-img"><a href="{{site.url}}/shop"><img class="img-fluid mx-auto" src="{{ '/images/shop/cadenza-1.jpg' | prepend: site.url }}" alt="Cadenza YAMAHA" /></a></div>
    <div class="ad-desc"><a href="{{site.url}}/shop">Actuellement sur Footstats Shop Maillot Cadenza CHF 19.-</a></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-6">
	{{content}}
    </div>
  </div>
</article>