---
layout: default
title_meta: meta.site_title
description_meta: meta.site_description
facebook_meta_title: test
facebook_meta_description: meta.facebook_description
---
<div class="container">
  <header>
    <h1>{% t page.title %}</h1>
    <h2>{% t page.headline %}</h2>
  </header>
  {{ content }}
  <footer>
    <p>{% t layout.follow_us %}</p>
    <a href="http://www.facebook.com/footballtopscorers" title="Page facebook footballtopscorers.ch" class="btn btn-fab btn-raised fa fa-facebook"></a>
  </footer>
</div>