---
layout: default
---
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-10">
			<div class="blog-post">
				<div class="blog-post-image item-img-wrap">
    			<img src="{{site.url}}/images/posts/headers/{{page.image-mobile}}" class="img-responsive mobile-image" alt="Classement">
				</div>                       
				<ul class="list-inline post-detail">
					<li><i class="fa fa-calendar"></i>{{ page.date | date: "%-d/%m/%Y"}}</li>
				</ul>
				<div class="fb-share-button" data-href="{{site.url}}{{page.url | remove: '.html'}}" data-layout="button_count"></div>
				<h2>{{page.title}}</h2>
				{{content}}
			</div><!--blog post-->
		</div><!--col-->
	</div><!--row for blog post-->
</div>
