---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-post">
				<div class="blog-post-image">
					<img src="{{site.url}}/images/posts/headers/{{page.image}}" class="img-responsive" alt="workimg">
				</div>                       
				<ul class="list-inline post-detail">
					<li><i class="fa fa-calendar"></i>{{page.date | date: "%-d %B %Y"}}</li>
				</ul>
				<h2>{{page.title}}</h2>
				{{content}}
			</div><!--blog post-->
		</div><!--col-->
	</div><!--row for blog post-->
</div>
