---
layout: default
facebook_meta_title: meta.facebook_title
facebook_meta_description: meta.facebook_description
---
{% if page.data_path_season == '2016-2017' %}
	{% assign data_path = site.data.archives1617[page.data_path_region][page.data_path_ligue] %}
{% else %}
	{% assign data_path = site.data[page.data_path_region][page.data_path_ligue] %}
{% endif %}

<div id="league-stats">
	<div class="container ligue-scorers">
		<div class="row">
			<div class="col-12">
			{% include tab-teams-scorers.html %}
			</div>
		</div>
		{% if data_path.scorers.lastUpdate != null %}
			<div class="row justify-content-md-center">
				<div class="col-12 col-md-8 col-lg-6">
					<h1>{% t page.title %}</h1>
				  <h2>{% t page.headline %}</h2>
				  <p><small>{% t pages.scorer_ranking.info %}</small></p>
					<p><small><span class="text-muted d-block"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ data_path.scorers.lastUpdate }}</span></small></p>
				</div>
			</div>
			
			{% if site.data.archives1617[page.data_path_region][page.data_path_ligue] != null %}
			{% include year-select-list.html %}
			{% endif %}
			
			<div class="row justify-content-md-center">
				<div class="scorer-ranking col-12 col-md-8 col-lg-6">
				{% include mediaad.html %}
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="scorer-ranking col-12 col-md-8 col-lg-6">
					{% for group in data_path.scorers.rankings %}
				  <h3>{% t pages.scorer_ranking.group %} {{ group.groupNumber }}</h3>
				  <table class="table table-sm">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th><i class="fa fa-male"></i></th>
				        <th><i class="fa fa-futbol-o"></i></th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for scorer in group.scorers %}
				        <tr>
				          <td>{{ forloop.index }}</td>
				          <td>
				            {{ scorer.scorer }}
				            <span class="d-block team-name">
				              <small>{{ scorer.team }}</small>
				            </span>
				          </td>
				          <td>{{ scorer.goals }}</td>
				        </tr>
				      {% endfor %}
				    </tbody>
				  </table>
				{% endfor %}
				</div>
			</div>
		{% else %}
			<div class="row justify-content-center no-data-available-info">
				<div class="col-12">
					<h1>{% t page.title %}</h1>
					<h2>{% t page.headline %}</h2>
				</div>
			</div>

			{% if site.data.archives1617[page.data_path_region][page.data_path_ligue] != null %}
			{% include year-select-list.html %}
			{% endif %}

			<div class="row no-data-available-info offset-md-3">
				<div class="col-12">
					<p>{% t pages.scorer_ranking.no_data %}</p>
				</div>
			</div>

		{% endif %}
	</div>
</div>