---
layout: stats-template1
sitemap: false
region: acgf
---
<table class="table" id="topflop">
	<thead>
		<tr> <th>2e ligue</th> <th>3e ligue</th> <th>4e ligue</th> <th>5e ligue</th> </tr> 
	</thead>
	<tbody> 
		{% assign topFlopTeams =site.data.acgf.topflop.rankings %}
		<tr> <td>Top attaque</td> <td>Top attaque</td> <td>Top attaque</td> <td>Top attaque</td> </tr>
		{% assign league2_topFlopTeams = topFlopTeams | where:"league","2" %}
		{% assign league3_topFlopTeams = topFlopTeams | where:"league","3" %}
		{% assign league4_topFlopTeams = topFlopTeams | where:"league","4" %}
		{% assign league5_topFlopTeams = topFlopTeams | where:"league","5" %}
		<tr>
			<td>	
				{% for topTeam in league2_topFlopTeams[0].top %}
					{{topTeam.team}}<br/>
				{% endfor %}
				{{league2_topFlopTeams[0].top[0].goalsForAverage}}
			</td>
			<td>	
				{% for topTeam in league3_topFlopTeams[0].top %}
					{{topTeam.team}}<br/>
				{% endfor %}
				{{league3_topFlopTeams[0].top[0].goalsForAverage}}
			</td>
			<td>	
				{% for topTeam in league4_topFlopTeams[0].top %}
					{{topTeam.team}}<br/>
				{% endfor %}
				{{league4_topFlopTeams[0].top[0].goalsForAverage}}
			</td>
			<td>	
				{% for topTeam in league5_topFlopTeams[0].top %}
					{{topTeam.team}}<br/>
				{% endfor %}
				{{league5_topFlopTeams[0].top[0].goalsForAverage}}
			</td>
		</tr>
		<tr> <td>Flop attaque</td> <td>Flop attaque</td> <td>Flop attaque</td> <td>Flop attaque</td> </tr>
		<tr>
			<td>	
				{% for flopTeam in league2_topFlopTeams[0].flop %}
					{{flopTeam.team}}<br/>
				{% endfor %}
				{{league2_topFlopTeams[0].flop[0].goalsForAverage}}
			</td>
			<td>	
				{% for flopTeam in league3_topFlopTeams[0].flop %}
					{{flopTeam.team}}<br/>
				{% endfor %}
				{{league3_topFlopTeams[0].flop[0].goalsForAverage}}
			</td>
			<td>	
				{% for flopTeam in league4_topFlopTeams[0].flop %}
					{{flopTeam.team}}<br/>
				{% endfor %}
				{{league4_topFlopTeams[0].flop[0].goalsForAverage}}
			</td>
			<td>	
				{% for flopTeam in league5_topFlopTeams[0].flop %}
					{{flopTeam.team}}<br/>
				{% endfor %}
				{{league5_topFlopTeams[0].flop[0].goalsForAverage}}
			</td>
		</tr>
</table>
<div class="stats-social-container" id="facebook">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th><i class="fa fa-male"></i></th>
		        <th>Ligue</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  	{% assign players = site.data.acgf.ligue2.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}</td>
			        <td>2</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue3.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <br/><b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}{% if players[3].goals == players[0].goals %}, <br/><b>{{players[3].scorer}}</b> <i>{{players[3].team}}</i>{% endif %}</td>
			        <td>3</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue4.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <br/><b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}{% if players[3].goals == players[0].goals %}, <br/><b>{{players[3].scorer}}</b> <i>{{players[3].team}}</i>{% endif %}</td>
			        <td>4</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue5.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}</td>
			        <td>5</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2></h2>
	</div>
</div>
<div class="stats-social-container" id="resume">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th><i class="fa fa-male"></i></th>
		        <th>Ligue</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  	{% assign players = site.data.acgf.ligue2.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}</td>
			        <td>2</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue3.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <br/><b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}{% if players[3].goals == players[0].goals %}, <br/><b>{{players[3].scorer}}</b> <i>{{players[3].team}}</i>{% endif %}</td>
			        <td>3</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue4.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <br/><b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}{% if players[3].goals == players[0].goals %}, <br/><b>{{players[3].scorer}}</b> <i>{{players[3].team}}</i>{% endif %}</td>
			        <td>4</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		    <tr>
		  	{% assign players = site.data.acgf.ligue5.stats.scorers.top5scorers %}
			        <td><b>{{players[0].scorer}}</b> <i>{{players[0].team}}</i>{% if players[1].goals == players[0].goals %}, <br/><b>{{players[1].scorer}}</b> <i>{{players[1].team}}</i>{% endif %}{% if players[2].goals == players[0].goals %}, <b>{{players[2].scorer}}</b> <i>{{players[2].team}}</i>{% endif %}</td>
			        <td>5</td>
			        <td>{{players[0].goals}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top buteurs ACGF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue2">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th>Ligue</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  	{% assign teams = site.data.acgf.ligue2.attack.group1.teams %}
		  				<td>2</td>
			        <td>{{teams[0].team}}</td>
			        <td>{{teams[0].goalsfor}}</td>
		    </tr>
		    <tr>
		  	{% assign teams = site.data.acgf.ligue3.global-attack.teams %}
		  				<td>3</td>
			        <td>{{teams[0].team}}{% if teams[1].goalsfor == teams[0].goalsfor %}, {{teams[1].team}}{% endif %}{% if teams[2].goalsfor == teams[0].goalsfor %}, {{teams[2].team}}{% endif %}</td>
			        <td>{{teams[0].goalsfor}}</td>
		    </tr>
		    <tr>
		  	{% assign teams = site.data.acgf.ligue4.global-attack.teams %}
		  				<td>4</td>
			        <td>{{teams[0].team}}{% if teams[1].goalsfor == teams[0].goalsfor %}, {{teams[1].team}}{% endif %}{% if teams[2].goalsfor == teams[0].goalsfor %}, {{teams[2].team}}{% endif %}</td>
			        <td>{{teams[0].goalsfor}}</td>
		    </tr>
		    <tr>
		  	{% assign teams = site.data.acgf.ligue5.global-attack.teams %}
		  				<td>5</td>
			        <td>{{teams[0].team}}{% if teams[1].goalsfor == teams[0].goalsfor %}, {{teams[1].team}}{% endif %}{% if teams[2].goalsfor == teams[0].goalsfor %}, {{teams[2].team}}{% endif %}</td>
			        <td>{{teams[0].goalsfor}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top attaques ACGF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue2">
	<div class="stats-table-social-post">
		<table class="table" id="">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.acgf.ligue2.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top buteurs 2ème ligue ACGF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue3">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.acgf.ligue3.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info">
	  <h2>Top buteurs 3ème ligue ACGF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue4">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.acgf.ligue4.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info" id="">
	  <h2>Top buteurs 4ème ligue ACGF</h2>
	</div>
</div>
<div class="stats-social-container" id="ligue5">
	<div class="stats-table-social-post">
		<table class="table">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Nom</th>
		        <th>Team</th>
		        <th><i class="fa fa-futbol-o"></i></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for player in site.data.acgf.ligue5.stats.scorers.top5scorers %}
		      <tr>
		        <td>{{ forloop.index }}</td>
		        <td>{{ player.scorer }}</td>
		        <td>{{ player.team }}</td>
		        <td>{{ player.goals }}</td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="stats-table-social-post-info" id="">
	  <h2>Top buteurs 5ème ligue ACGF</h2>
	</div>
</div>